<div class="text-wrapper">
  <h1>Hi there!</h1>

  <div class="block-container">
    <p class="text-block">
      I'm Berke. I am a software developer. Currently I work as a Frontend
      developer at
      <a href="https://www.winnowpro.com/" target="_blank"
        ><span>Winnowpro</span></a
      >
      and study Computer Science in
      <a href="https://admitere.uvt.ro/en/" target="_blank">
        <span>West University of Timişoara.</span></a
      >
      <br />
      I develop Angular apps profesionally.
    </p>
  </div>
</div>
